exportPattern("^[[:alpha:]]+")
import (mvna)
import (etm)
import (msm)
import(survival)
import(ggplot2)
import(mstate)
importFrom ("Epi",Lexis,Lexis.diagram,splitLexis,timeBand,status,dur,plot.Lexis)
importFrom ("lubridate",dmy,new_interval,as.period,as.duration,as.interval)
importFrom ("reshape",melt)    
importFrom ("plyr",round_any)  

export(
age_as_year,
age_as_Date,
cmc_as_age,
cmc_as_year,
cmc_as_Date,
Date_as_age,
Date_as_year,
Date_as_cmc,
year_as_age,
year_as_Date,
year_as_cmc,
date_convert,
date_b,

stringf,
pos.char,
pos.charstr,
string.blank.omit,
transitions,
Sequences.ind.0,
locpath,
Remove.intrastate,
check.par,

StateSpace,
Parameters ,
SamplePath,
AgeTrans ,
YearTrans ,
OverviewEpisodes ,
OverviewTransitions ,
 Occup ,
state_age,
state_time,
Trans ,
RateTable ,
Sequences ,
Sequences.ind,
Rates.ac ,
Lexispoints ,
Lexis.points,
Lexislines.episodes ,
Lexis.lines,
LexisOccExp ,
Biograph.Lexis,
Biograph.long ,
Biograph.mstate ,
Biograph.msm ,
Biograph.mvna ,
TransitionAB ,
Cumrates , 
MSLT.S ,
MSLT.e ,
ChangeObservationWindow.e ,
ChangeObservationWindow.t , 
GLHS.trans ,
GLHS.IllnessDeath,
plot.MSLT.S,
plot.cumrates,
plot.occup.S)

S3method(plot,MSLT.S)
S3method(plot,cumrates)
S3method(plot,occup.S)
